@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text;
}

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NoonnuBasicGothicRegular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


.one-month-range .ant-picker-panels {
  display: block;
}
.one-month-range .ant-picker-panels > *:last-child {
  display: none !important;
}

.one-month-range .ant-picker-range-wrapper {
  min-width: 280px;
}

.one-month-range .ant-picker-header {
  display: none !important;
}

.one-month-range .ant-picker-body {
  padding-top: 4px;
}
