@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

/* 스크롤바 숨기기 (tailwind 지원x) */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}
.safe-top {
  padding-top: var(--safe-top);
}
.safe-bottom {
  padding-bottom: var(--safe-bottom);
}

/* 하단 탭/플로팅 버튼 보호용 기본 여백도 더하고 싶다면 */
.safe-page {
  padding-top: calc(16px + var(--safe-top));
  padding-bottom: calc(16px + var(--safe-bottom));
}
